<div class="cp">
    <div class="questions">
        <h3><%= @question.title %></h3>
        <p><%= @question.content %></p>
        <div class="questions_option">
            <p><%= link_to "Upvote" %></p>
            <p><%= link_to "Downvote" %></p>
        </div>
    </div>
</div><br>
