/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  display: inline-block;
}

.header_name {
  width: 150px;
}

.cp div{
  display: inline-block;
}

.votes, .status, .views {
  color: black;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 10px;
  width: 30px;
  text-align: right;
}

.logo {
  width: 20%;
}

.questions p, .answers p {
  padding-left: 30px;
  font-size: 1.3em;
  color: #0077CC;
  height: 1px;
  padding-bottom: 10px;
}

.answers {
  border: 1px solid black;
}
.answers h2, .answers h3, .answers p, .answers div{
  padding-left: 50px;
  padding-right: 30px;
}

.answers div {
  padding-top: 20px;
}

.voting p{
  display: inline-block;
  margin-top: -10px;
}

.divisor {
  border-top: 1px solid #000;
  margin-top: -10px;
  margin-bottom: -10px;
}

table{
  /*padding-right: 555px;*/
  text-align: right;
  width: 100%;
}
table h3 {
  text-align: right;
}

table h2 {
  text-align: left;
}