/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.cp div{
  display: inline-block;
}

.votes, .status, .views {
  color: black;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25`px;
  padding-left: 10px;
  width: 30px;
  /*height: 30px;*/
  text-align: right;
  /*margin: 0 auto;*/
}

.logo {
  width: 20%;
}

.questions p {
  padding-left: 30px;
  font-size: 1.5em;
  color: #0077CC;
  height: 1px;
}

.divisor {
  border-top: 1px solid #000;
  margin-top: 1px;
}